# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies (Sangat Penting!)
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# Environment Variables (Sangat Penting!)
.env
.env.*
# --- DATA BESAR (JANGAN DI-PUSH) ---
*.parquet
*.jsonl
backend/
backend/*.parquet
backend/*.jsonl
steam_similarity_matrix.parquet
steam_data.jsonl